*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

$prime: #DA2B36
$black: #000

html, body
    background-color: #000
    background: #fff
    font-family: 'AdigianaUltra', sans-serif
    color: #000
    scroll-behavior: smooth

body
    min-height: 100vh
    font-size: 16px
    position: relative
    display: flex
    flex-direction: column
    z-index: 1
    &.active
        overflow: hidden

.container
    max-width: 1230px
    width: 100%
    height: 100%
    margin: 0 auto
    padding: 0 15px
    position: relative
    z-index: 1

section
    position: relative
    z-index: 1

p
    font-size: 18px
    leading-trim: both
    line-height: 130%

img
    max-width: 100%

a,
button
    color: white
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:active
        transform: scale(.98)

    &:hover
        opacity: .8

mark
    background: transparent
    color: $prime

.btn
    display: inline-block
    padding: 16px 25px 15px
    min-width: 150px
    font-size: 18px
    font-style: normal
    font-weight: 600
    border-radius: 70px
    border: 2px solid white
    text-align: center

    color: white
    position: relative
    z-index: 1
    &:hover
        opacity: 1
        background-color: #fff
        color: #000

.fx, .fx-wrp, .fx-col
    display: flex
    justify-content: space-between
    align-items: center

.fx-wrp
    align-items: flex-start
    flex-wrap: wrap

.fx-col
    flex-direction: column

ul
    list-style: none

video
    width: 100%
    pointer-events: none
    &.mob
        display: none !important
    &.pc
        display: block !important

video:not(.static)
    position: absolute
    top: 0
    left: 0
    height: 100%
    object-fit: cover
    object-position: top center
    z-index: -11

.col
    width: 50%

.heading
    margin: 0
    line-height: 0
    font-size: 0px
    color: rgba(0, 0, 0, 0)
    img
        object-fit: contain
        transform-origin: 60% 50%

    &.--static
        width: 100%
        margin: 0 auto 250px
        text-align: center
        img
            height: 180px
            width: 100%
            margin: 0 auto
            transform-origin: 40% 50%

.heading:not(.--static)
    img
        pointer-events: none
        display: block
        transform-origin: 60% 50%
        transform: scale(1.8)
        width: 300px
        height: 150px
        // background-color: red

.titline
    font-size: 22px
    max-width: 400px
    text-align: justify
    text-align-last: justify
    img
        margin-top: 20px
        display: block

.overflow
    overflow: hidden

.soc
    display: inline-block
    padding: 5px
    border-radius: 4px
    &-wrap
        justify-content: center
    img
        width: 50px
        height: 50px
        display: block

    &:hover
        background-color: rgba(255, 255, 255, .2)

@media screen and ( max-width: 1000px )
    section
        min-height: 100vh !important
        min-height: 100dvh !important
        top: 0 !important
        clip-path: none !important

    video
        &.mob
            display: block !important
        &.pc
            display: none !important

    .col
        width: 100% !important
        max-width: 100% !important

    .heading
        margin: 0 auto
        max-width: 85%
        line-height: 0
        font-size: 0px
        color: rgba(0, 0, 0, 0)
        img
            object-fit: contain
            object-position: center center
            transform-origin: 50% 50%

        &.--static
            width: 100%
            margin: 0 auto 
            text-align: center
            img
                height: unset
                width: 100%
                object-position: center center
                