.header
    position: relative
    z-index: 9999
    width: 100%
    padding: 20px 0 10px
    .logo
        display: block
        max-width: 80px
        transition: all ease 1s
        img
            display: block

        &:hover
            opacity: 1
            transform: rotate(380deg)

    &-nav
        a
            display: block
            padding: 15px
            font-size: 18px
            &:hover
                text-decoration: underline

    .btnMenu
        display: none

    @media screen and ( max-width: 1000px )
        padding-bottom: 0
        .logo
            display: none

        &-nav
            position: absolute
            top: 0
            left: 0
            width: 100%
            display: block
            background-color: black
            text-align: center
            transition: .4s ease all
            opacity: 0
            visibility: hidden
            transform: translateY(-30px)
            padding: 100px 30px 30px
            a
                display: block
                width: 100%

            &.is_active
                opacity: 1
                visibility: visible
                transform: translateY(0)

        .btn
            display: none

        .btnMenu
            display: block
            width: 80px
            height: 80px
            margin: 0 auto
            background-image: url('../img/menu.gif')
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            position: relative
            z-index: 1111
            &.is_active
