.header
    position: relative
    z-index: 9999
    width: 100%
    padding: 10px 0
    .logo
        display: block
        max-width: 70px
        img
            display: block

    &-nav
        a
            display: block
            padding: 15px
            font-size: 18px
            &:hover
                text-decoration: underline
