@import 'normolize'
@import 'elements'
@import 'fonts'
@import 'header'

video:not(.static)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    object-position: top center
    z-index: -11

.col
    width: 50%

.heading
    margin: 0
    line-height: 0
    font-size: 0px
    color: rgba(0, 0, 0, 0)
    img
        pointer-events: none
        display: block
        transform-origin: 60% 50%
        transform: scale(1.8)
        width: 300px
        object-fit: contain
        height: 150px
        // background-color: red

.titline
    font-size: 22px
    max-width: 400px
    text-align: justify
    text-align-last: justify
    img
        margin-top: 20px
        display: block

main
    background-color: #000
    color: #fff
    position: relative
    z-index: 1
    overflow: hidden
    .container

        min-height: 100%

    .heading
        img
            transform-origin: 60% 50%
            transform: scale(2)

    .col
        max-width: 49%
        margin: auto auto auto 0
        padding: 20px 0 140px

    .main__animation
        display: block
        max-width: 60%
        margin-left: auto
        transform-origin: 90% 60%
        transform: scale(1.5) translateX(20%)

    p
        margin-bottom: 30px

    .fx-wrp
        gap: 20px
        justify-content: flex-start

    .soc
        display: inline-block
        padding: 5px
        border-radius: 2px
        img
            width: 50px
            height: 50px
            display: block

        &:hover
            background-color: rgba(255, 255, 255, .2)

    video
        transform-origin: 50% 0%
        transform: scale(1.4)

.about
    position: relative
    top: -80px
    background-color: #fff
    color: #000
    aspect-ratio: 16/9
    clip-path: polygon(0 4.3%, 100% 10%, 100% 90%, 0 90%)

    .heading
        img
            transform-origin: 55% 50%

    .col
        max-width: 40%
        margin: 0 0 0 auto

.roadmap
    clip-path: polygon(0px 0%, 100% 4%, 100% 100%, 0% 100%)
    height: 100vh
    max-height: 1080px
    padding-top: 100px
    top: -200px
    .heading
        margin: 0 auto
        text-align: center
        img
            margin: 0 auto
            transform-origin: 40% 50%

    .linemap
        position: absolute
        top: 0px
        left: 0
        width: 100%

    video
        width: 100%
        display: block

.tokenomics
    top: -250px
    height: 100vh
    max-height: 1080px

    video
        width: 100%
        display: block
